# Virtual Environment
.venv

# Logs
*.log
/src/notebooks/log

# Pycache
/src/__pycache__
/src/utils/__pycache__
/src/environments/__pycache__

# WandB
/wandb
/src/notebooks/wandb
/src/notebooks/save
/src/environments/__pycache__
/checkpoints

# Large CSV files
/data/0raw_data/Realisierte_Erzeugung_201807010000_202106302359_Viertelstunde.csv
/data/3final_data/Final_Energy_dataset.csv
